langgraph
langchain
langsmith
langchain-google-genai
langchain-groq

fastapi
uvicorn

sentence-transformers
# torch

psycopg2-binary
sqlalchemy
neo4j
chromadb

pandas
tqdm
python-dotenv
pydantic

trustcall